{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": "airbnb-base",
    "env": {
        "commonjs": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "indent": [ "error", 4, { "SwitchCase": 1 }],
        "no-underscore-dangle": "off",
        "max-len": "off",
        "import/extensions": ["error", "ignorePackages", { "ts": "never" }]
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [".ts"]
        },
        "import/resolver": {
            "node": {
                "extensions": [".js", ".ts"]
            }
        }
    }
}