name: Lint and Test

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  lint-and-test:
    name: Lint
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set Node.js 10.x
        uses: actions/setup-node@master
        with:
          version: 10.x
      - name: npm ci
        run: npm ci
      - name: npm run lint
        run: npm run lint
      - name: npm test
        run: npm test
